* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* this is for header section */

.header-section {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 120px;
}
.header-left-section {
  width: 139px;
  height: 60px;
  display: flex;
  justify-content: center;
}
.header-left-section img {
  width: 100%;
}
.header-middle-section ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
.header-middle-section ul li {
  font-size: 16px;
  font-weight: 400;
}
.header-right-section {
}
.get-early-access-button {
  background-color: #469165;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  padding: 13px 16px;
  border-radius: 5px;
  cursor: pointer;
}
.get-early-access-button:hover {
  background-color: #44a36c;
}
/* I used the :active pseudo-class selector because I had used it before. */
.get-early-access-button:active {
  background-color: #2fc36d;
}
