* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: inter Arial, Helvetica, sans-serif;
}
/* this is for header section */

.header-section {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 120px;
}
.header-left-section {
  width: 139px;
  height: 60px;
  display: flex;
  justify-content: center;
}
.header-left-section img {
  width: 100%;
}
.header-middle-section ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
.header-middle-section ul li {
  font-size: 16px;
  font-weight: 400;
}
.header-right-section {
}
.get-early-access-button {
  background-color: #469165;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  padding: 13px 16px;
  border-radius: 5px;
  cursor: pointer;
}
.get-early-access-button:hover {
  background-color: #44a36c;
}

.get-early-access-button:active {
  background-color: #2fc36d;
}

/* this is for main hero section */
.hero-section {
  width: 100%;
  height: 674px;
  background-image: url("assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  /* I learned this (background-size: cover) from chat gpt that keep full view of banner */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.structured-thinking-container {
  width: 1360px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.early-access-now-open {
  height: 35px;
  gap: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-weight: 500;
  color: #469165;
  padding: 8px 12px;
  border-radius: 30px;
  margin-bottom: 16px;
}
.early-access-now-open img {
  width: 23px;
  height: 22px;
  object-fit: cover;

  border-radius: 15px;
}
.structured-thinking-container h1 span {
  font-size: 72px;
  font-weight: bold;
  color: white;
  display: block;
}
.structured-thinking-container h1 {
  font-size: 72px;
  font-weight: bold;
  color: #30b868;
}
.structured-thinking-container p {
  color: #ffffff;
  text-align: center;
  line-height: 24px;
  margin-bottom: 32px;
}
.hero-section-buttons {
  display: flex;
  gap: 16px;
}
.start-building-your-vault-button {
  padding: 16px 16px;
  background-color: #469165;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}
.start-building-your-vault-button:hover {
  background-color: #44a56c;
}
/* I used the :active pseudo-class selector because I had used it before. */
.start-building-your-vault-button:active {
  background-color: #3db971;
}
.see-how-it-works-button {
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  padding: 16px 16px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.see-how-it-works-button:hover {
  background: rgba(137, 136, 136, 0.456);
}
/* I used the :active pseudo-class selector because I had used it before. */
.see-how-it-works-button:active {
  background: #469165;
}
.see-how-it-works-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
/* this section is for problem section */
.problem-section {
  width: 100%;
  height: 445px;
  border: 1px solid rgb(255, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.problem-section-header {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.problem-section-header h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
.problem-section-header-description {
  color: #627382;
  font-size: 16px;
  font-weight: 400;
}
.problem-section-card-container {
  margin-top: 44px;
  display: flex;
  gap: 24px;
}
.scattered-notes-card,
.Bookmark-overload-card,
.No-idea-connections-card,
.Forgetting-what-you-learned-card {
  width: 300px;
  height: 250px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.073);
}
.scattered-notes-card-image-container,
.Bookmark-overload-card-image-container,
.No-idea-connections-card-image-container,
.Forgetting-what-you-learned-card-image-container {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scattered-notes-card-header,
.Bookmark-overload-card-header,
.No-idea-connections-card-header,
.Forgetting-what-you-learned-card-header {
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.scattered-notes-card-description,
.Bookmark-overload-card-description,
.No-idea-connections-card-description,
.Forgetting-what-you-learned-card-description {
  font-size: 16px;
  color: #627382;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
}
